:root{
   --btnColor:#ff4141;
   --highText:#171717;
   --grayColor:#5e5e5e;
   --lineColor:#e2e2e2;
   --whiteColor:#ffffff;
   --outerSpaceColor:#454545;
   --brightGray:#ebebeb;
   --blackColor:#000000;
} 