@import url(../../Pages/CSS/Color.css);

.hero {
  height: 100vh;
  background: linear-gradient(270deg, var(--btnColor), #e1ffea22 60%);
  display: flex;
  /* height: 750px; */
}
.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 180px;
  line-height: 1;
}

.hero-left h2 {
  color: var(--outerSpaceColor);
  font-size: 26px;
  font-weight: 600;
  display: flex;
}

.hero-left p {
  display: flex;
  color: var(--outerSpaceColor);
  font-size: 70px;
  font-weight: 700;
}
.hero-hand-icon {
  display: flex;
  align-items: center;
  gap: 20px;
}
.hero-hand-icon img {
  width: 100px;
}
.hero-latest-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 250px;
  height: 60px;
  margin-top: 30px;
  border-radius: 20px;
  background: var(--btnColor);
  font-size: 18px;
  font-weight: 500;
  color: var(--whiteColor);
}
.hero-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-right img {
  width: 500px;
  height: 500px;
}

/* Responsive Design */
@media (max-width: 1200px) {
    .hero-left {
      padding-left: 100px;
    }
    
    .hero-left p {
      font-size: 50px;
    }
    
    .hero-right img {
      width: 400px;
      height: 400px;
    }
  }
  
  @media (max-width: 992px) {
    .hero {
      flex-direction: column;
      align-items: center;
    }
    
    .hero-left {
      padding-left: 10px;
      text-align: center;
      align-items: center;
    }
    
    .hero-left h2 {
      font-size: 22px;
    }

    .hero-left p {
      font-size: 35px;
    }
    
    .hero-right img {
      width: 300px;
      height: 300px;
    }
  }
  
  @media (max-width: 768px) {
    .hero-left p {
      font-size: 35px;
    }
    
    .hero-latest-btn {
      width: 200px;
      height: 50px;
      font-size: 16px;
    }
    
    .hero-right img {
      width: 250px;
      height: 250px;
    }
  }
  
  @media (max-width: 576px) {
    .hero-left p {
      font-size: 30px;
    }
    
    .hero-latest-btn {
      width: 180px;
      height: 45px;
      font-size: 14px;
    }
    
    .hero-right img {
      width: 200px;
      height: 200px;
    }
  }
